body{
  padding: 0;
  margin: 0;
}
.contenedor{
  width: auto;
  height: 667px;
  background-color: red;
  display: flex;
  text-align: right;
  justify-content: flex-end;

}

ul{
      list-style: none;
      list-style-type: none;
      list-style-position: outside;
}

 li{
      line-height: 30px;
      font-size: 16px;
      cursor:pointer;
}

#menu{
  background-color: white;
      width:250px;
      position:absolute;
      border:1px solid black;

      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px#888;
      box-shadow: 0 0 5px #888;
}
.button{

}
