body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url('../imagenes/img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cove
}
.contenedor{
  padding: 20px;

  display: flex;
  width: auto;
  height: 600px;

  background-size: cover;
  justify-content: flex-end;

}

ul{
  list-style: none;
  list-style-type: none;
  list-style-position: outside;
}

li{
  line-height: 30px;
  font-size: 16px;
  cursor:pointer;
}

#context-menu{
  background-color: white;
  width:250px;
  position:absolute;


  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}
.button{
  margin: 200px;
}

.agregarproyecto{
  width: 600px;
}


#dialog, #dialog2 {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 400px; }
